body,
html {
    font-family: sans-serif;
    background-color: black;
    color:white;
}

#title {
    
}

h1{
    font-size:55px;
    text-align: center;
}

a{
    color:cyan;
    text-decoration: none;
}

#attention {
    font-family: sans-serif;
    color: #ff2020;
    text-align: left;
    margin-bottom: 8px;
    margin-right: 8px;
    border: solid 1px #ff2020;
    padding: 14px 14px 14px 14px;
}

.word {
    font-size:400%;
 }

#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#caution {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
